<div ng-controller="SearchController as vm">
	<liti-jumbotron isbn="isbn" displayitems="displayitems"></liti-jumbotron>
	<span us-spinner spinner-key="spinner-1"></span>

	<div>
		<toaster-container></toaster-container>
		<div class="row">
			<div class="col-md-3 col-md-offset-1">
				<span us-spinner spinner-key="spinner-2"></span>
				<div ng-controller="SavedSearchController as vm">
					<span us-spinner spinner-key="spinner-2"></span>
					<button class="btn btn-danger btn-block">Ricerche Salvate</button>
					<div class="list-group">
						<liti-search ng-repeat="search in vm.savedSearches" search="search"></liti-search>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div>
					<div ng-show="displayitems" class="row-marketing animate-show">
						<div>		
							<button ng-click="vm.saveSearch()" class="btn btn-default btn-lg btn-block btn-primary">
								<span class="glyphicon glyphicon-save"></span>
								Ricorda la ricerca
							</button>
							<div class="list-group">
								<liti-item ng-repeat="item in vm.items" item="item"></liti-item>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




	
