								<div class="list-group-item">
									<a href="{{item.itemUrl}}"  target="_blank">
										<h4>{{item.title}}</h4>
									</a>
									<h5>{{item.category.name}} di </h5>
									<div class="row">
										<div class="col-md-3">
											<img src="{{item.mediumImageUrl}}" class="img-responsive img-rounded">
										</div>
										<div class="col-md-6">
											<h6>di {{item.author}} - {{item.publisher}}</h6>
											<div ng-repeat="offer in item.offers">
												<li>
													<p>Prezzo: {{offer.price}}</p>
												</li>
												<li>
													<p>Location: {{item.country}}</p>
												</li>
												<li>
													<p>Stato: {{offer.condition}}</p>
												</li>
												<hr>
											</div>
										</div>
										<div class="col-md-3">
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-model="item.active">
													<span class="glyphicon glyphicon-eye-open"></span>
													Tieni d'occhio
												</label>
											</div>
											<img class="img-responsive img-rounded" src="static/images/a_it_logo_RGB.jpg">
										</div>
									</div>
									<hr>
								</div>