						<div class="panel">
							<div class="panel-heading">
								<div class="row">
									<h2 class="panel-title">
										<button class="btn btn-success" ng-click="vm.showPanel(categoryName)">
											<i class="glyphicon glyphicon-chevron-down"></i>
										</button>
										{{categoryName}}
										<span class="badge">{{category.length}}</span>
									</h2>
								</div>
							</div>
							<div class="panel-body  animate-show" ng-show="vm.visiblePannels['{{categoryName}}']">
								<liti-ebay-item ng-repeat="item in category" item="item"></liti-ebay-item>
							</div>
						</div>